.div1 {
background-color: rgb(200, 162, 200);
height: 250px;
width: 100%;
display: flex;
justify-content: center;
}

.div1  .div1a {
background-color: #ffcbdb;
height: auto;
width: 250px;
border: 20px dashed red;

}

.div1  .div1b{
background-color: aquamarine;
height: 88%;
width: 30%;

}